<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Item</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/add-item.css">
</head>

<body>
    <div id="liveAlertPlaceholder"></div>

    <div class="container mt-5">
        <h1 class="text-center">Atualizar Ala</h1>

        <div class="form-group">
            <label for="item-color">Prateleira</label>
            <input type="text" class="form-control" id="Prateleira" required>
        </div>

        
        <div class="form-group">
            <label for="item-color">Seção</label>
            <input type="text" class="form-control" id="Secao" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block" onclick="updateAla('<%= ala.Id_Ala%>')" >Atualizar ala</button>

        <div class="text-center mt-4">
            <a href="index.html" class="btn btn-secondary">Voltar para o Estoque</a>
        </div>
    </div>

    <script src="../../javascript_alas/ala-update.js"></script>
</body>

</html>